# This files tells git to ignore certain file types and
# not to put them in the repository.

# R studio files
.Rproj.user

# History files
.Rhistory

# R session data files
.RData

# Do not add Rproj files
*.Rproj

# Directory for storing user data.
.Ruserdata

# Swap files
*.swp

# Emacs backup files
*~

# Emacs temporary files
\#*
.#*

# html files
*.html

# npm contents
package-lock.json
package.json

# Do not put mac stuff into the repo
.DS_Store

