# This files tells git to ignore certain file types and
# not to put them in the repository.

# R studio files
.Rproj.user

# History files
.Rhistory

# R session data files
.RData

# Directory for storing user data.
.Ruserdata

# Swap files
*.swp

# Emacs backup files
*~

# Emacs temporary files
\#*
.#*

# html files
*.html

# Do not add sample answers to the repo
answers.md

# npm contents
package-lock.json
package.json
